@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 66.6667%;
}

body {
	background: #F2F2F2	;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	min-height: 100vh;
	display: block;
	align-items: flex-start;
	justify-content: center;
}
