.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #93BBBF;
  width: 100%;
  min-height: 5rem;
  position: absolute;
  bottom: 0;
}

.container span {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}